<%= form_with(model: daily_take_keep) do |form| %>
  <% if daily_take_keep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_take_keep.errors.count, "error") %> prohibited this daily_take_keep from being saved:</h2>

      <ul>
        <% daily_take_keep.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
